<div class="container mt-4 w-100">
  <div
    class="d-flex align-items-center justify-content-around border-bottom border-secondary"
  >
    <h1 class="text-center fs-bold text-uppercase">Skate Shop</h1>
  </div>
  {{#each products}}
    <div class="card mb-3 p-2 mt-3 bg-secondary-subtle">
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src={{{this.img}}}
            class="img-fluid rounded-start"
            alt="Imagen descriptiva del producto"
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title text-center fw-bold">{{this.title}}</h5>
            <p class="card-text mt-4 mb-4">{{this.description}}</p>
            <div class="d-flex align-items-center justify-content-between">
              <div
                class="d-flex align-items-center justify-content-between mt-4"
              >
                <p class="card-text"><span class="fw-bold">
                    Categoria:
                  </span>{{this.code}}</p>
              </div>
            </div>
            <div class="d-grid align-items-center justify-content-between mt-5">
              <p class="card-text price"><span class="fw-bold">Precio: $</span>
                {{this.price}}</p>
              <p class="text-body-secondary mt-4"><span class="fw-bold">Unidades
                  disponibles:</span>
                {{this.stock}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
</div>